@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finlandica&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  color: #EEE;
  font-family: 'Roboto Slab', serif;
}

body {
  background: #222;
  min-height: 100vh;
}

header {
  background: #444;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 2rem;
  padding: .5rem;
}

#add-button {
  font-family: 'Finlandica', sans-serif;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #222;
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
  margin: .5rem;
  border-radius: 50%;
  transition: .5s;
}

#add-button:hover {
  background: #BBB;
}

#add-button.active {
  transform: rotate(45deg);
}

#book-add-form {
  position: fixed;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #222;
}

#book-add-form.active {
  display: flex;
}

.read-container {
  display: flex;
  align-items: center;
}

#book-add-form p,
input {
  margin: .5rem;
  font-size: 1.5rem;
  border-radius: 15px;
}

#book-add-form input {
  color: #222;
  text-align: center;
}

#book-read {
  width: 1.5rem;
  height: 1.5rem;
}

#add-book {
  width: 10rem;
  height: 1.5rem;
  background: #EEE;
  color: #222;
  border-radius: 15px;
  margin: .5rem;
}

#book-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  align-items: center;
}

.book-card {
  display: flex;
  flex-direction: column;
  background: #444;
  width: 15rem;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 15px;
}

.book-title {
  border-bottom: 1px solid #EEE;
  padding-bottom: .5rem;
  text-align: center;
}

.book-author,
.book-pages {
  padding: .25rem;
}

.read-button,
.remove-button {
  color: #222;
  border-radius: 15px;
  margin: .25rem;
}

.read-true {
  background: #7ae378;
}

.read-false {
  background: #ee7373;
}

@media only screen and (min-width:600px) {
  #book-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width:1000px) {
  #book-container {
    grid-template-columns: repeat(3, 1fr);
  }
}